@charset "utf-8";

a{text-decoration: none;}
/* 헤더 */
header .header-wrap{max-width: 1200px; margin: 0 auto; padding: 0 2%; height: 55px;}
header .logo{float: left;}
header .logo img{width: 80%;}
header .nav{float: right; width: 70%; position: relative; top:10px;}
header .nav > ul{overflow: hidden;}
header .nav > ul > li{float: left; width: 16.6667%; line-height: 50px; text-align: center;}
header .nav ul li ul{ width: 25%; text-align: left;  position: absolute; background-color: #0a539cd8; z-index: 1; transition: 0.5s; height: 0; overflow: hidden;}
header .nav ul li:nth-child(2) ul {width: 30%;}
header .nav ul li ul li a {padding-left:8%; display: inline-block; width: 100%; font-size:15px; color:#fff;}
header .nav ul li ul li a:hover{background:#292687ee;  color:#fff; display: inline-block; }

/* 헤더 */
/* 모바일 햄버거 */
.hamburger{position: fixed; right: 20px; top: 20px; cursor: pointer; display: none; z-index: 50;}
.hamburger .line{width: 30px; height: 4px; border-radius: 5px; 
  background-color: #000; margin-bottom: 5px; transition: 0.5s;}
.hamburger.on .line:nth-child(1){transform: rotate(45deg) translateY(13px); background-color :#fff;}
.hamburger.on .line:nth-child(2){opacity: 0;}
.hamburger.on .line:nth-child(3){transform: rotate(-45deg) translateY(-13px); background-color :#fff;}
/* 모바일 햄버거 */
/* 모바일 네비 */
.m-nav{position: fixed; width: 300px; height: 100%; top: 0; background-color: #0a539cd8; z-index: 4; right: -300px; padding: 50px; padding-top: 100px; box-sizing: border-box; padding-left: 30px; transition: 0.5s;}
.m-nav.on{right: 0;}
.m-nav ul li{border-bottom: 1px solid #e1e1e1d8; position: relative;}
.m-nav ul li ul{height: 0; overflow: hidden; transition: 0.5s;}
.m-nav ul li a{padding: 15px 0 5px; display: inline-block; width: 100%; color:#fff;}
.m-nav ul li ul li{padding-left: 20px; }
.m-nav ul li ul li a {color:#e4fcff;}
.m-nav ul li ul li:last-child{border-bottom: 0;}


/* 모바일 네비 */
@media screen and (max-width: 1000px){
  .header .nav{display: none;}
  .hamburger{display: block;}
}

