
@charset "UTF-8";


.page-header { text-align: center; background: url(/steelinfo/images/title.webp) no-repeat center; background-size: cover; margin: 0px; border: 0; }
hr {margin:0;}

.subpage-cont {text-align:left; padding:25px 0;}

.steelinfo-title {font-size: 40px; color:#333; font-weight: bold;}
.steelinfo-title b {color:#555; font-size:30px;}
.steelinfo-sub {font-size: 25px; width: 100%;}
.steelinfo-sub span {font-weight: bold; color:#333;}

.info {margin-bottom: 30px; font-size:20px;}
.info-title {display:flex; align-items: center; background: #eee; padding:3%}
.info-title:hover{background: #94a4b7; color:#fff; transition: 0.5s;}
.info-title ul {width: 70%; }
.info-title img {width: 30%; height: 30%; border-radius: 50%;
    border: 10px solid #fff; box-shadow: 2px 3px 5px rgba(0,0,0,0.4);}


.steelinfo-subtitle {font-size:25px; font-weight: bold; color:#576373;}
.subinfo {background-color: #eee; padding: 3%;}

.table-title {margin-bottom:15px; font-size:25px; color:#000; font-weight: bold;}
.table-subtitle{margin-bottom:10px;}
.backslash-1 {
    background: url("../images/backslash-1.png") no-repeat center; background-size:cover;
}
.backslash-2 {
    background: url("../images/backslash-2.png") no-repeat center; background-size:cover;
}

/* table 두께공차 */

.tg  {border-collapse:collapse;border-color:#ccc;border-spacing:0; width:80%; margin-left: 30px;}
.tg td{background-color:#fff;border-color:#ccc;border-style:solid;border-width:1px;color:#333;
font-family:Arial, sans-serif;font-size:2vh;overflow:hidden;padding:1% 1%;word-break:normal;}
.tg th{background-color:#f0f0f0;border-color:#ccc;border-style:solid;border-width:1px;color:#333;
font-family:Arial, sans-serif;font-size: 2vh;font-weight:normal;overflow:hidden;padding:1% 1%;word-break:normal;}
.tg .tg-ezme{background-color:#efefef;border-color:inherit;font-weight:bold;text-align:center;vertical-align:top}
.tg .tg-v0hj{background-color:#efefef;border-color:inherit;font-weight:bold;text-align:center;vertical-align:top}
.tg .tg-c3ow{border-color:inherit;text-align:center;vertical-align:top}
.tg .tg-7btt{border-color:inherit;font-weight:bold;text-align:center;vertical-align:top}
.tg .tg-abip{background-color:#f9f9f9;border-color:inherit;text-align:center;vertical-align:top}
   

/* Extra Small Devices, Phones */
@media only screen and (max-width:700px) {
.tg {width: 100%; margin:0;}
.tg td{font-size:1vh;}
.tg th{font-size:1vh;}


.info-title img {border: 5px solid #fff; box-shadow: 1px 2px 3px rgba(0,0,0,0.4);}
    
.steelinfo-title {font-size: 25px;}
.steelinfo-title b{font-size: 20px;}
.steelinfo-sub {font-size: 14px;}

.info {font-size:12px;}
.steelinfo-subtitle {font-size:20px; }

}