@charset "UTF-8";

a {text-decoration: none;}

.page-header { text-align: center; background: url(/company/images/title.webp) no-repeat center; background-size: cover; margin: 0px; border: 0; }
.ceo-content {text-align: left; margin-top:30px; margin-left: 20px; font-size: 1.2em; color: #222;}
p { margin-top: 5%; }
.logo_ci { width: 350px; padding: 30px 0; }

.ceo-title li:nth-child(2){animation-delay:0.2s;}
.ceo-title li:nth-child(3){animation-delay:0.4s;}
.ceo-title li:nth-child(4){animation-delay:0.6s;}
.ceo-title li:nth-child(5){animation-delay:0.8s;}
.ceo-title li:nth-child(6){animation-delay:1.0s;}
.ceo-title{font-size:1.3vw; text-align: left; float: left; margin:6% 0 6% 10%; color:rgba(255,255,255,0.8); position:relative;}
.ceo-title b {font-size:2vw; color:#fff;}
.subpage-content {width: 100%; overflow: hidden; position: relative; }
.subpage-content img {position:absolute; width:100%; left: 0;}
.ceo-content img {right: 0; bottom:5%; width: 30%; position: absolute;animation-delay:1.0s;}

.ceo-content {animation-delay:0.5s;}

/* Extra Small Devices, Phones */

@media only screen and (max-width:1600px) {
	.ceo-title{font-size: 1.6vw;}
    .ceo-content {margin-left: 5px; }
 }

@media only screen and (max-width:1200px) {
	.ceo-title{font-size: 2vw;}
    .ceo-content {margin-left: 5px; }
	.ceo-content img {position: relative; width:70%;}
 }
 /*Now the CSS*/
* {margin: 0; padding: 0;}

.tree ul {
    padding-top: 20px; position: relative;
	
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
}

.tree li {
	float: left; text-align: center;
	list-style-type: none;
	position: relative;
	padding: 20px 5px 0 5px;
	
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
}

/*We will use ::before and ::after to draw the connectors*/

.tree li::before, .tree li::after{
	content: '';
	position: absolute; top: 0; right: 50%;
	border-top: 1px solid #ccc;
	width: 50%; height: 20px;
}
.tree li::after{
	right: auto; left: 50%;
	border-left: 1px solid #ccc;
}

/*We need to remove left-right connectors from elements without 
any siblings*/
.tree li:only-child::after, .tree li:only-child::before {
	display: none;
}

/*Remove space from the top of single children*/
.tree li:only-child{ padding-top: 0;}

/*Remove left connector from first child and 
right connector from last child*/
.tree li:first-child::before, .tree li:last-child::after{
	border: 0 none;
}
/*Adding back the vertical connector to the last nodes*/
.tree li:last-child::before{
	border-right: 1px solid #ccc;
	border-radius: 0 5px 0 0;
	-webkit-border-radius: 0 5px 0 0;
	-moz-border-radius: 0 5px 0 0;
}
.tree li:first-child::after{
	border-radius: 5px 0 0 0;
	-webkit-border-radius: 5px 0 0 0;
	-moz-border-radius: 5px 0 0 0;
}

/*Time to add downward connectors from parents*/
.tree ul ul::before{
	content: '';
	position: absolute; top: 0; left: 50%;
	border-left: 1px solid #ccc;
	width: 0; height: 20px;
}

.tree li a{
	border: 1px solid #ccc;
	padding: 5px 10px;
	text-decoration: none;
	color: #666;
	font-family: arial, verdana, tahoma;
	font-size: 11px;
	display: inline-block;
	
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
}

/*Time for some hover effects*/
/*We will apply the hover effect the the lineage of the element also*/
.tree li a:hover, .tree li a:hover+ul li a {
	background: #c8e4f8; color: #000; border: 1px solid #94a0b4;
}
/*Connector styles on hover*/
.tree li a:hover+ul li::after, 
.tree li a:hover+ul li::before, 
.tree li a:hover+ul::before, 
.tree li a:hover+ul ul::before{
	border-color:  #94a0b4;
}

/*Thats all. I hope you enjoyed it.
Thanks :)*/



/* company2 - 연혁 */

.history-block:nth-of-type(2n+1) .history-content { text-align: right;}
.history-block:nth-of-type(2n) .history-content { text-align: left; left:54%; position: relative;}
.history-block:nth-child(1) { animation-delay: 0.2s;}
.history-block:nth-child(2) { animation-delay: 0.4s;}
.history-block:nth-child(3) { animation-delay: 0.6s;}
.history-block:nth-child(4) { animation-delay: 0.8s;}
.history-block:nth-child(5) { animation-delay: 1.0s;}
.history-block:nth-child(6) { animation-delay: 1.2s;}
.history-block:nth-child(7) { animation-delay: 1.4s;}
.history-block:nth-child(8) { animation-delay: 1.6s;}
.history-block:nth-child(9) { animation-delay: 1.8s;}
.history-block:nth-child(10) { animation-delay: 2.0s;}

.history-content li:nth-child(1) {font-weight: bold; font-size: 1.5em;}
.history-content li {line-height:2; font-size: 1.45rem;}
.history-content { width: 46%;}
.history-circle { background: #fff; border-radius: 50%; border: 3px solid #4d94c6; text-align: center; width: 10px; height: 10px;
				  position: absolute; left: 50%; margin-left: -4px;}

.history::before {width: 1px; position: absolute; height: 100%; background: #ccc; left: 50%; content: "";}